<% page_title 'Apartmentalize - About' %>

<div class="span8 offset2">
  <div class="well about-wrapper">

    <h1>About this site</h1>

    <p>
      This website is an open source project by <%= link_to 'Greg Pallotta', 'http://www.gregpallotta.com'%>, built to learn Ruby on Rails. Full source code is available on <%= link_to 'Github', 'http://github.com/gpallotta/apartmentalize' %>.
    </p>

    <p>
      A set of users are provided for demoing the site. All users are part of
      the same group. Credentials are as follows:

      <ul>
        <li>Email: test1@test1.com</li>
        <li>Password: password</li>
      </ul>

      <ul>
        <li>Email: test2@test2.com</li>
        <li>Password: password</li>
      </ul>

      <ul>
        <li>Email: test3@test3.com</li>
        <li>Password: password</li>
      </ul>
    </p>

    <p>
      I'm currently available for hire in the Boston area. Contact information
      can be found on my personal site or Github page.
    </p>

  </div>
</div>
