<% page_title 'Apartmentalize - about' %>

<div class="span8 offset2">
  <div class="well about-wrapper">

    <h1>About this site</h1>

    <p intro="about">This website is an open source project by <%= link_to 'Greg Pallotta', 'http://www.gregpallotta.com'%>, built to learn Ruby on Rails. Full source code is available on <%= link_to 'Github', 'http://github.com/gpallotta/apartment_v2' %>. Various other related technologies/services were used, including:

      <ul>
        <li>Handlebars</li>
        <li>Sendgrid</li>
        <li>Stripe</li>
      </ul>

      I'm currently available for hire in the Boston area. Contact information can be found on my personal site or Github page. %>.

    </p>

  </div>
</div>
