<div class="row">
  <div class="span5"></div>
  <div class="span5 offset1">
    <% current_user.chores.each do |c| %>
      <%= c.title %>
      <%= c.description %>
    <% end %>
  </div>
</div>

<% @activities.each do |activity| %>
  <%= ActivityPresenter.new(activity, self).render_activity %>
<% end %>
