<div class="activity-icon">
  <span class="fui-bubble-24"></span>
  <%= parse_time(activity.updated_at) %>
</div>

<div class="activity-content">
  <%= activity.owner.name %> commented on <%= link_to comment.claim.title, claim_path(comment.claim) %>
</div>
