<!DOCTYPE html>
<html>

<head>
  <title>Hello</title>
  <style type="text/css">
    #header {
      font-size: 36px;
      background-color: #34495E;
      /*background-color: #ECF0F1;*/
    }
    #welcome {
      color: white;
    }
    td { font-size: 16px; }
    h4 { text-align: center; }
  </style>
</head>

<body>

<table width="650" id="main" border="0">
  <thead id="header">
    <tr>
      <th colspan="2"><h1 id="welcome">Welcome to Apartment</h1></th>
    </tr>
  </thead>

  <tr>
    <td colspan="2">
      <h4>
        Thanks for signing up! Apartment is an app you can use to help keep track of apartment- and roommate-related information. You can:
      </h4>
    </td>
  </tr>

  <tr>
    <td>
      <h1>Money</h1>
    </td>
    <td>
      <ul>
        <li>Track money owed</li>
        <li>Get balance summaries</li>
        <li>Send payments</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h1>Chores</h1>
    </td>
    <td>
      <ul>
        <li>Create and assign chores</li>
        <li>Automatically rotate chores between users</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h1>Email</h1>
    </td>
    <td>
      <ul>
        <li>Receive weekly and daily email summaries</li>
        <li>Emails (besides this one) are opt-in</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>
        <a href="fathomless-escarpment-9306.herokuapp.com">Visit the site</a>
      </h3>
    </td>
  </tr>

</table>

</body>

</html>
