<table width="650" id="main" border="0">
  <thead>
    <tr id="header">
      <th colspan="2"><h1>Welcome to Apartment</h1></th>
    </tr>
  </thead>

  <tr>
    <td colspan="2">
      Thanks for signing up! Apartment is an app you can use to help keep track of apartment- and roommate-related information. You can:
    </td>
  </tr>

  <tr>
    <td>Money</td>
    <td>
        - Got your utility bill for the month? Enter it into the site and it will be tracked
        - See the summary of the debts between you and other users
    </td>

  </tr>

  <tr>
    <td>Chores</td>
    <td>
        - Have a set of weekly chores? They can be tracked on the site
        - Chores can be assigned to a user and will automatically rotate every week
    </td>
  </tr>

  <tr>
    <td>Emails</td>
    <td>
        - Weekly and daily email alerts can be configured
        - Get a summary of the day's activity or a weekly reminder
        - Emails (besides this one) are opt-in
    </td>
  </tr>


</table>
