<div class="row">
  <div class="span3 offset2">
    <li>
      <div>
        <span class="comment-bold">
          <%= comment.user.name %>
        </span>
        on
        <span class="comment-bold">
          <%= parse_time(comment.created_at) %>
        </span>
      </div>
      <div class="comment-content"><%= comment.content %></div>
      <% if comment.user.id == current_user.id %>
        <p><%= link_to 'Edit Comment', edit_comment_path(comment) %></p>
      <% end %>
    </li>
  </div>
</div>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="span3 offset2">
      <li>
        <div>
          <span class="comment-bold">
            {{ comment.user.name }}
          </span>
          on
          <span class="comment-bold">
            {{ comment.parsed_time }}
          </span>
        </div>
        <div class="comment-content">{{ comment.content }}</div>
          <p>
            <a href="/comments/{{ comment.id }}/edit">Edit Comment</a>
          </p>
      </li>
    </div>
  </div>
</script>
