<div class="row">
  <div class="span4 offset4 well  ">
    <%= simple_form_for(@comment, :html => {class: 'form-inline'}) do |f| %>
    <%= f.input :content, as: :text, label: false, placeholder: 'Comment',
          :input_html => { :cols => 50, :rows => 3 }  %>
    <%= f.button :submit, 'Save changes' %>
    <% end %>
    <%= link_to 'Delete', comment_path(@comment), method: 'delete', confirm: 'Are you sure?' %>
  </div>
</div>


