<%= simple_form_for(@comment, :html => {class: 'form-inline'}) do |f| %>

  <%= f.input :content, :as => :text, label: false, placeholder: 'Comment',
          :input_html => { :cols => 50, :rows => 3 } %>

  <%= f.input :claim_id, :as => :hidden, :input_html => { :value => @claim.id } %>

  <div id="comment-form-errors">Something went wrong</div>

  <%= f.button :submit, 'Comment', class: 'comment-button btn' %>

<% end %>
