<div class="hide-button-wrapper">
  <button class="btn hide-button create-button ">Create</button>
  <button class="btn hide-button search-button">Search</button>
</div>
<div class="claim-form-wrapper">Create content</div>
<div class="search-wrapper">Search content</div>
