<form action="/claims" class="new-claim-form" id="new_claim" method="post">
  <input id="claim_title" name="claim[title]" type="text">
  <input id="claim_description" name="claim[description]" type="text">
  <input id="claim_amount" name="claim[amount]" type="number">

  <input id="split_evenly" name="split_evenly" type-"checkbox" value="true">

  <input checked="checked" class="user-checkbox"
          id="roommate" name="roommate" type="checkbox">

  <div id="claim-form-errors">Title and amount are required</div>

</form>

<table class="claims-table">

</table>
