<form action="/comments" id="new_comment" method="post">
  <textarea id="comment_content"name="comment[content]"></textarea>
  <div id="comment-form-errors">Something went wrong</div>
  <input type="submit" value="comment">
</form>

<ul class="comments-list">

</ul>
