<div class="span2 offset3">
  <div class="well">

    <ul class="profile-link-list">
      <li><%= link_to 'User Info', user_path(current_user) %></li>
      <li><%= link_to 'Group Info', group_path(current_user.group) %></li>
    </ul>

  </div>
</div>
