<div class="activity-icon">
  <span class="fui-plus-24"></span>
  <%= parse_time(activity.updated_at) %>
</div>

<div class="activity-content">
  <%= activity.owner.name %> created a new claim for
  <%= link_to claim.title, claim_path(claim) %>
  in the amount of <%= claim.amount %>
</div>
