<div class="activity-icon">
  <span class="fui-new-24"></span>
  <%= parse_time(activity.updated_at) if claim %>
</div>

<div class="activity-content">
  <% if claim %>
    <%= activity.owner.name %> edited <%= link_to claim.title, claim_path(claim) %>
  <% else %>
    <%= presenter.deleted_message %>
  <% end %>
</div>
