.chore-box {
  #chore-week {
    display: inline-block;
    margin-left: 10px;
    color: #27AE60;
  }
  .control-group {
    display: inline-block;
    #chore_title {
      width: 100px;
    }
    #chore_user_id {
      width: 140px;
    }
  }
  .chore_user {
    margin-bottom: 0;
  }
}

#chores-table {
  th {
    font-size: 20px;
  }
}

#new_chore {
  input {
    margin-right: 10px;
  }
  input.btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #27AE60;
  }
}
