.new-claim-form {
  margin-top: 14px;
  input {
    display: inline-block;
  }
}

.claims-table {
  th {
    text-align: center;
    font-size: 24px;
  }
  td {
    font-size: 18px;
    text-align: center;
  }
  a {
    font-size: 12px;
  }
  .description {
    width: 100px;
    font-size: 12px;
  }
}

.claim-header-wrapper {
  border-bottom: 2px solid black;
  .title-amount-wrapper {
    display: inline-block;
    padding: 10px;
  }
  .user-wrapper {
    float: right;
  }
  .claim-header-text {
    font-size: 30px;
    margin: 15px;
  }
  .claim-description {
    font-size: 12px;
  }
}

.claim-button-wrapper {
  margin-top: 20px;
  button {
  }
}

.claim-comment-wrapper {
  margin-top: 25px;
  .comment-form-wrapper {
    margin-left: 25px;
  }
  .comments-list {
    list-style: none;
    li {
      border: 1px solid black;
      padding: 5px;
    }
    p {
      font-size: 10px;
      margin-top: 5px;
    }
  }
}
