@import 'mixins';

@font-face {
  font-family: 'playfair-display';
  src: font-url('PlayfairDisplay-Regular.ttf');
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #ECF0F1;
  // background: url('witewall.png');
  font-family: playfair-display;
}

a {
  text-decoration: none;
  // color: #16A085;
}

.authorized-background {
  padding-top: 80px ;
  @include height-width-cover;
  @include background-cover;
}
