@import 'mixins';

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #16A085;
}

.btn.active {
  background-color: #4e6d8d;
}

.authorized-background {
  padding-top: 80px ;
  background-color: #ECF0F1;
  @include height-width-cover;
  @include background-cover;
}
