.activity-feed {
  list-style: none;
  h4 {
    margin-left: 10px;
  }
  span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }
  li {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid black;
  }
  .activity-icon {
  }
  .activity-content {
    margin-left: 25px;
    margin-top: 5px;
  }
}

.current-chore {
  ul {
    list-style: none;
  }
  th {
    font-size: 20px;
  }
  td {
    font-size: 18px;
  }
}


.about-wrapper {
  box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
}
.about {
  line-height: 1.5em;
}
