// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

.signup-box {
  @include box_color;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
}
